body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.92);
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: #23a1d1!important;
    text-decoration: none!important;
}
div#accordion {
    color: black;
}
#accordion h1, #accordion h2, #accordion h3, #accordion h4, #accordion h5, #accordion h6{
    color: black;
}
.account-login h1, .account-login h2, .account-login h3, .account-login h4, .account-login h5,  .account-login h6, .account-login p {
    color: black;
}
.modal-dialog h4.modal-title {
    color: black;
}
.modal-dialog p {
    color: black;
}
#content {

    margin-top: 30px;
}
#cart .dropdown-menu {
    background: #eee;
    z-index: 1001;
    color: black;
}
legend {

color: #fff;

}


.checkout-checkout legend {

color: #000;

}

.thumbnail {

background-color: #000!important;

	}

.thumbnails,.nav-tabs{

	display: none!important;
}

  