body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.92);
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
}